html{
	font-family: 'Raleway', sans-serif;
	color: #16161d;
}


h1{
	font-weight: 900;
	font-size: 6em;
}
h2{
	font-weight: 900;
	font-size: 3em;
}

img{
	width: 30%;
	height: 300px;
	margin: 1em 1.5%;
}

a{
	text-decoration: none;
	color: #16161d;
}

#wrapper{
	width: 80%;
	margin: 0 auto;
}

header, section{
	margin-top: 8em;
}

.link {
	float: right;
	font-size: 1em;
}

